// Typography
$body-font: "Poppins", sans-serif;

//Color
$white: #ffffff;
$black: #000000;

$primary: #ff2e66;
$secondary: #FFDB5C;
$grad-1: #ff3460;
$grad-2: #ff0f83;
$light-bg: #f2f3ff;
$light-bg-2: #fafafa;
$rating: #f8832d;

//Border
$border: #e2e4ee;

//Dark
$dark: #1c1a38;
$dark-bg: #281a3b;
$dark-bg-2: #332645;
$input-bg: #efefef;
$footer-bg: #2c1f43;

//Text
$text: #717584;
$heading: #30323d;
$text-light: #9a9aaa;
$regular-text: #7d8d98;
$footer-text: #b5b5bf;
