/*==========================
    Header Style
===========================*/
#cdr-header {
    // height: 920px;
    position: relative;
    background-position: left top;
    background-size: cover;
    background-repeat: no-repeat;

}
