/*==========================
    Section Title
===========================*/
.cdr-title {
    &__is {
        text-transform: capitalize;
        margin-bottom: 28px;
    }
    &__sub {
        display: block;
        font-size: 20px;
    }
}